@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
}
.navbar-entire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100vw;
  background-color: #f2f3f5;
  font-family: "Montserrat";
  height: 10vh;
  flex-wrap: wrap;
}
.logo-nav-bar {
  width: 10rem;
  padding: 1rem;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-nav-bar {
  padding: 0.2rem;
}

.navbar-artist-creation-link {
  text-decoration: none;
  font-style: normal;
  font-size: 100%;
  text-align: center;
  color: black;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}

.artists-creations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.responsive-loggin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar-login-register-link {
  text-decoration: none;
  font-style: normal;
  font-size: 100%;
  text-align: center;
  color: white;
  font-weight: 500;
  padding: 1rem;
  align-items: center;
  align-content: center;
}

.card-logo-nav-bar {
  width: 4.5rem;
  padding: 1rem;
}

#button-log-out-navbar {
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 0.2rem;
}

@media (max-width: 1000px) {
  .navbar-artist-creation-link {
    font-size: 90%;
  }
  .artists-creations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
  }
  .link-navbar-responsive {
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 800px) {
  .navbar-artist-creation-link,
  .navbar-login-register-link,
  #button-log-out-navbar {
    font-size: 80%;
  }

  .responsive-loggin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
  }
}

/* YourStyles.css */
.search-container {
  display: flex;
  margin-right: 16px; /* Add margin-right */
}

.search-input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

.search-button {
  background-color: #4c6d90; /* Green color, you can customize it */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
