.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #f2f3f5;
  font-family: "Montserrat";
  height: 10vh;
}

// TODO add logo
.navbar-logo {
  width: 200px;
  padding: 5px;
}

.navbar-links {
  text-decoration: none;
  font-style: normal;
  font-size: 100%;
  text-align: center;
  color: black;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}

